.mainContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(./images/background.png);
    overflow-y: hidden;
}

.topbar{
    position: sticky;
    top: 0px;
    width: 100%;
    left: 0px;
    background-color: #1569a7;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wisnamLogo{
    height: 299px;
    width: 300px;
    background-image: url(./images/wisnamlogo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
    width: 300px;
    height: 100%;
    position: absolute;
}
.customButton{
    background-color: transparent;
    border: 2px solid  white;
    border-radius: 6px;
    margin: 5px;
    height: 30px;
    color: white;
    font-weight: bold;
}
.longButton{
    width: 130px !important;
}

.analyticContainerDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #1569a7;  
  min-height: 200px;
  min-width: 300px;
}
.analyticContainerDiv:hover{
    cursor: grab;
}
.buttonHolderForMovableDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 5px;
}
.noBorder{
    border: none;
    margin: 0px;
    font-size: 16px;
}

.fakeTableHorizontal{
    width: 98%;
    height: 60%;
    top: 20%;
    position: absolute;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    

}
.verticalLine{
    height: 100%;
    border: 1px solid white;
    
}
.textHolderVertical{
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}
.gaugeholder{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.titlecontainer{
    color: white;
    position: absolute;
    top: 5px;
    /* left: 5px; */
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: monospace;
}
.horizontalFlex{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 80%;
    color: white;
    width: 98%;
    left: 1%;
    border-top: 1px solid white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: system-ui;
    height: 9%;
}
.secondFlex{
    top: 90% !important;
}
.labelsWidth{
    width: 28%;
    text-align: center;
}
.firstLabelWidth{
    width: 15%;
}
.multiTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 20%;
    width: 84%;
    left: 16%;
    color: white;
}
.sideComponentForSettings{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 105px;
    background-color: #1569a7;
    width: 400px;
    height: 90%;
}
.settingsTitle{
    color: white;
    height: 43px;
    border-bottom: 1px solid white;
    width: 80%;
    text-align: left;
    font-size: 29px;
    font-family: monospace;
}
.singleSetting{
    margin-top: 20px;
    color: white;
    height: 43px;
    width: 80%;
    text-align: left;
    font-size: 15px;
    font-family: monospace;
}
.myslider{
    width: 80%;
}
.mat-accent .mat-slider-track-fill {
        background-color: red !important;
    }

.mat-slider-thumb-label {
        background-color: red !important;

    }

.mat-slider-thumb {
        background-color: red !important;
}

.beforExcel{
    background-color: rgba(85, 82, 82, 0.705);
    height: 100%;
    width: 100vw;
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}