.mainContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(./images/background.png);
    overflow-y: hidden;
}

.topbar{
    position: sticky;
    top: 0px;
    width: 100%;
    left: 0px;
    background-color: #1569a7;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wisnamLogo{
    height: 226px;
    width: 220px;
    background-image: url(./images/wisnamlogo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
    width: 383px;
    height: 100%;
    position: absolute;
}
.customButton{
    background-color: transparent;
    border: 2px solid  white;
    border-radius: 6px;
    margin: 5px;
    height: 30px;
    color: white;
    font-weight: bold;
    z-index: 101;
}
.customButton:hover{
    background-color: #aba9c29d;
}
.longButton{
    width: 130px !important;
}
.shortButton{
  width: 35px !important;
}

.analyticContainerDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #1569a7;  
  min-height: 200px;
  min-width: 300px;
  z-index: 10;

}
.buttonHolderForMovableDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 5px;
}
.noBorder{
    border: none;
    margin: 0px;
    font-size: 16px;
}

.fakeTableHorizontal{
    width: 98%;
    height: 60%;
    top: 20%;
    position: absolute;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    

}
.verticalLine{
    height: 100%;
    border: 1px solid white;
    
}
.textHolderVertical{
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}
.gaugeholder{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.titlecontainer{
    color: white;
    position: absolute;
    top: 5px;
    /* left: 5px; */
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: monospace;
}
.horizontalFlex{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 80%;
    color: white;
    width: 98%;
    left: 1%;
    border-top: 1px solid white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: system-ui;
    height: 9%;
}
.secondFlex{
    top: 90% !important;
}
.labelsWidth{
    width: 33%;
    text-align: center;
    font-size: 20px;
}
.firstLabelWidth{
    width: 15%;
}
.multiTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 20%;
    width: 98%;
    left: 1%;
    color: white;
}
.sideComponentForSettings{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 105px;
    background-color: #1569a7;
    width: 400px;
    height: 90%;
}

.myslider{
    width: 80%;
}
.mat-accent .mat-slider-track-fill {
        background-color: red !important;
    }

.mat-slider-thumb-label {
        background-color: red !important;

    }

.mat-slider-thumb {
        background-color: red !important;
}

.beforExcel{
    background-color: rgba(85, 82, 82, 0.705);
    height: 100%;
    width: 100vw;
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}



  .importedSettingsComponent{
    height: 100%;
    width: 100%;
  }

  .coverIndex{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    resize: both;
    overflow: auto;
  }
  .dragArea{
    position: absolute;
    left: 10%;
    top:10%;
    height: 80%;
    width: 80%;
    z-index: 101;

  }
  .dragArea:hover{
    cursor: grab;
  }

  .timeProductionContainer{
    height: 100%;
    top: 100px;
    width: 98%;
    position: absolute;
    /* top: 0; */
    left: 0;
    background-color: #00417e;
    padding-top: 5px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 30px;
    z-index: 301;
  }
  .schedulerTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* position: relative; */
    top: 110px;
    left: 133px;
    color: white;
  }
  .imageHolder{
    width: 78px;
    height: 91px; 
  }
  .calendarIcon{
    font-size: 70px;
    height: 100px;
    width: 100px;
  }
  .longDiv{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .bigButton{
    width: 200px !important;
    height: 43px;
    font-size: 14px;
  }
  .selectedButton{
    background-color: #1569a7;
    border-color: #1569a7;
  }
  .tableComponent{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
  .messagebox{
    position: absolute;
    right: 50px;
    top: 150px;
    height: 70px;
    width: 383px;
    background-color: rgba(31, 144, 217, 0.6);
    color: white;
    text-align: left;
    font-size: 17px;
    word-wrap: break-word;
    white-space: initial;
    padding: 11px;
    padding-left: 80px;
    z-index: 300;
  }
  .messageIcon{
    position: absolute;
    height: 77px;
    width: 77px;
    font-size: 76px;
    align-self: center;
    bottom: 5px;
    left: 0px;
    color: #ffffff82;
  }