<div class="mainContainer">
  <div class="beforExcel" *ngIf="noExcel">
    <input id="my-file-selector" type="file" (change)="uploadData($event);noExcel=false" name="uploadExcel">
  </div>
    <div class="topbar">
      <div class="wisnamLogo"></div>
      <div class="buttonContainer">
        <button class="customButton longButton" (click)="analyticsVisible=!analyticsVisible;restartDivs()">Analytics</button>
        <button class="customButton longButton" (click)="SettingsClicked()">Settings</button>
        <button class="customButton">C</button>
        
      </div>
      
  
    </div>
    <div *ngIf="showSettings" class="sideComponentForSettings">
      <settings-component  class="importedSettingsComponent"></settings-component>
    </div>

  
    <div id="singleActivePowerDiv" class="analyticContainerDiv" *ngIf="analyticsVisible">
      <div class="buttonHolderForMovableDiv">
        <button class="customButton noBorder">⋯</button>
        <button class="customButton noBorder">×</button>
  
      </div>
      <plotly-plot [data]="invertersChart.data" [layout]="invertersChart.layout" [config]="invertersChart.config"></plotly-plot>
  
    </div>
    <div id="PlantActivePowerDiv" class="analyticContainerDiv" *ngIf="analyticsVisible" >
      <div class="buttonHolderForMovableDiv">
        <button class="customButton noBorder">⋯</button>
        <button class="customButton noBorder">×</button>
  
      </div>
      <div class="titlecontainer">Active Power of entire power plant</div>
      <div class="multiTitleContainer"><label>Active Power</label><label>Reactive Power</label><label>Power Factor</label></div>
      <div class="fakeTableHorizontal" id="chartGaugeHolder">
        <div class="textHolderVertical">
            <label style="color:white">Nominal Power</label>
            <label style="color:white">{{currentNominalPower}} kW</label>
        </div>
        <div class="verticalLine"></div>
        <div class="gaugeholder">
            <plotly-plot [data]="activePowerGauge.data" [layout]="gaugeCommonLayout" [config]="activePowerGauge.config"></plotly-plot>

        </div>
        <div class="verticalLine"></div>
        <div class="gaugeholder">
            <plotly-plot [data]="reactivePowerGouge.data" [layout]="gaugeCommonLayout" [config]="activePowerGauge.config"></plotly-plot>

        </div>
        <div class="verticalLine"></div>
        <div class="gaugeholder">
            <plotly-plot [data]="powerFactorGauge.data" [layout]="gaugeCommonLayout" [config]="activePowerGauge.config"></plotly-plot>

        </div>
      </div>
      <div class="horizontalFlex">
        <label class="firstLabelWidth">Control Status</label> <label class="labelsWidth">Enable</label><label class="labelsWidth">Enable</label><label class="labelsWidth">Disable</label>
      </div>
      <div class="horizontalFlex secondFlex">
        <label class="firstLabelWidth">Input Set Point</label><label class="labelsWidth">Enable</label><label class="labelsWidth">Enable</label><label class="labelsWidth">Disable</label>
      </div>
    </div>
    <div id="QpSignalsDiv" class="analyticContainerDiv"  *ngIf="analyticsVisible">
      <div class="buttonHolderForMovableDiv">
        <button class="customButton noBorder">⋯</button>
        <button class="customButton noBorder">×</button>
  
      </div>
      <plotly-plot [data]="QPSignlas.data" [layout]="QPSignlas.layout" [config]="QPSignlas.config"></plotly-plot>
    </div>
    <div id="ActivePowerPlantPlotDiv" class="analyticContainerDiv"  *ngIf="analyticsVisible">
      <div class="buttonHolderForMovableDiv">
        <button class="customButton noBorder">⋯</button>
        <button class="customButton noBorder">×</button>
  
      </div>
      <plotly-plot [data]="timeLinePlot.data" [layout]="timeLinePlot.layout" [config]="timeLinePlot.config"></plotly-plot>
    </div>
  </div>