<div class="mainContainer">
  <div class="beforExcel" *ngIf="noExcel">
    <input id="my-file-selector" type="file" (change)="uploadData($event);noExcel=false" name="uploadExcel">
  </div>
    <div class="topbar">
      <div class="wisnamLogo"></div>
      <div class="buttonContainer">
        <button class="customButton longButton" (click)="analyticsVisible=!analyticsVisible;restartDivs()">Analytics</button>
        <button class="customButton longButton" (click)="SettingsClicked()">Settings</button>
        <button class="customButton" (click)="calendarVisible=!calendarVisible"><mat-icon >calendar_today</mat-icon></button>
        
      </div>
      
  
    </div>
    <div class="timeProductionContainer" *ngIf="calendarVisible">
      <div class="schedulerTitleContainer">
        <div class="imageHolder">	<mat-icon class="calendarIcon">calendar_today</mat-icon></div>
        <div class="verticalFlex">
          <h1>Time production scheduling</h1>
          <h5>Current Time :{{getCurrentTime()}}</h5>
        </div>
        
      </div>
      <div class="longDiv">
        <button class="customButton longButton bigButton selectedButton" >Production</button>
        <button class="customButton longButton bigButton " >Fast Reserver</button>
      </div>
      <table-component class="tableComponent"></table-component>
    </div>
    <div *ngIf="showSettings" class="sideComponentForSettings">
      <settings-component  class="importedSettingsComponent"></settings-component>
    </div>

    <div id="messagebox" class="messagebox" *ngIf="analyticsVisible  && isMessageActive">
      <div id="messageboxDrag" class="dragArea"></div>
      <mat-icon class="messageIcon"> message</mat-icon>
      {{currentMessage}}
    </div>
    <div id="singleActivePowerDiv" class="analyticContainerDiv" *ngIf="analyticsVisible">
      <div class="coverIndex" id="singleActivePowerDivCover" (resized)="resizedcover('singleActivePowerDiv',$event)"></div>
      <div id="singleActivePowerDivDrag" class="dragArea"></div>
      <div class="buttonHolderForMovableDiv">
        
        <button class="customButton noBorder" (click)="singleDivFocused(0)">⛶</button>
   
      </div>
      <plotly-plot [data]="invertersChart.data" [layout]="invertersChart.layout" [config]="invertersChart.config"></plotly-plot>
  
    </div>
    
    
    <div id="PlantActivePowerDiv" class="analyticContainerDiv" *ngIf="analyticsVisible" >
      <div class="coverIndex" id="PlantActivePowerDivCover" (resized)="resizedcover('PlantActivePowerDiv',$event)"></div>
      <div id="PlantActivePowerDivDrag" class="dragArea"></div>
      <div class="buttonHolderForMovableDiv">
        
        <button class="customButton noBorder" (click)="singleDivFocused(1)">⛶</button>
  
      </div>
      <div class="titlecontainer">Active Power of entire power plant</div>
      <div class="multiTitleContainer"><label>Active Power</label><label>Reactive Power</label><label>Power Factor</label></div>
      <div class="fakeTableHorizontal" id="chartGaugeHolder">
        <!-- <div class="textHolderVertical">
            <label style="color:white">Nominal Power</label>
            <label style="color:white">{{currentNominalPower}} kW</label>
        </div>
        <div class="verticalLine"></div> -->
        <div class="gaugeholder">
            <plotly-plot [data]="activePowerGauge.data" [layout]="gaugeCommonLayout" [config]="activePowerGauge.config"></plotly-plot>

        </div>
        <div class="verticalLine"></div>
        <div class="gaugeholder">
            <plotly-plot [data]="reactivePowerGouge.data" [layout]="gaugeCommonLayout" [config]="activePowerGauge.config"></plotly-plot>

        </div>
        <div class="verticalLine"></div>
        <div class="gaugeholder">
            <plotly-plot [data]="powerFactorGauge.data" [layout]="gaugeCommonLayout" [config]="activePowerGauge.config"></plotly-plot>

        </div>
      </div>
      <div class="horizontalFlex">
       <label class="labelsWidth">Enabled</label><label class="labelsWidth">Enabled</label><label class="labelsWidth">Disabled</label>
      </div>
      <!-- <div class="horizontalFlex secondFlex">
        <label class="firstLabelWidth">Input Set Point</label><label class="labelsWidth">Enabled</label><label class="labelsWidth">Enabled</label><label class="labelsWidth">Disabled</label>
      </div> -->
    </div>
    
    
    <div id="QpSignalsDiv" class="analyticContainerDiv"  *ngIf="analyticsVisible">
      <div class="coverIndex" id="QpSignalsDivCover"  (resized)="resizedcover('QpSignalsDiv',$event)"></div>
      <div id="QpSignalsDivDrag" class="dragArea"></div>
      <div class="buttonHolderForMovableDiv">
        
        <button class="customButton noBorder" (click)="singleDivFocused(2)">⛶</button>
  
      </div>
      <plotly-plot [data]="QPSignlas.data" [layout]="QPSignlas.layout" [config]="QPSignlas.config"></plotly-plot>
    </div>
   
   
    <div id="ActivePowerPlantPlotDiv" class="analyticContainerDiv"  *ngIf="analyticsVisible">
      <div class="coverIndex" id="ActivePowerPlantPlotDivCover" (resized)="resizedcover('ActivePowerPlantPlotDiv',$event)"></div>
      <div id="ActivePowerPlantPlotDivDrag" class="dragArea"></div>
      <div class="buttonHolderForMovableDiv">
        
        <button class="customButton noBorder" (click)="singleDivFocused(3)">⛶</button>
  
      </div>
      <plotly-plot [data]="timeLinePlot.data" [layout]="timeLinePlot.layout" [config]="timeLinePlot.config"></plotly-plot>
    </div>
  </div>