.main{
    height: 100%;
    width: 100%;
}
.myTr{
    width: 100%;
    td{
        height: 38px;
        color: white;
        font-size: 18px;
        text-align: center;
        padding: 24px;
       
    }
}
.myTable{
    width: 96%;
    border-collapse: collapse;
}
.containedTr{
    width: 100%;
    td{
        color: white;
        font-size: 15px;
        text-align: center;
        width: 11%;
        padding: 22px;
        height: 42px;
       
    }
}
.colored{
    background-color: #366fa0;
}